MONGO_URI=
PORT=3000
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
JWT_SECRET=
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
AI_APP_URL=http://localhost:8000
NEWS_API_KEY=
AI_APP_API_KEY=
